{
  "openapi": "3.1.0",
  "info": {
    "title": "BookMonkey 6 API",
    "version": "1.0.0",
    "description": "API for managing books"
  },
  "servers": [
    {
      "url": "https://api6.angular-buch.com/"
    }
  ],
  "paths": {
    "/books": {
      "get": {
        "summary": "Get the list of books or filtered list of books",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search term"
          }
        ],
        "responses": {
          "200": {
            "description": "List of books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Book"
                  }
                },
                "examples": {
                  "example-1": {
                    "summary": "A list of books",
                    "value": [
                      {
                        "isbn": "1234511111111",
                        "title": "Tierisch gut kochen",
                        "subtitle": "Rezepte von Affe bis Zebra",
                        "authors": ["Mrs Chimp", "Mr Gorilla"],
                        "imageUrl": "https://cdn.ng-buch.de/kochen.png",
                        "description": "Immer lecker und gut.\n\nDu dachtest, nur Menschen könnten kochen? Falsch gedacht! In diesem Buch präsentieren wir die wildesten Rezepte direkt aus dem Tierreich – liebevoll gesammelt von den talentiertesten Köchen mit Fell, Federn und Flossen.\n\nErfahre, warum Affen auf Erdnussbutter-Pancakes schwören, wie Pinguine das perfekte Sushi zaubern und warum Giraffen am liebsten Hochstapler-Burger bauen. Von vegetarischen Koalafreuden bis hin zu Löwenstarken Grillrezepten – hier gibt’s für jeden Geschmack etwas!\n\nEin humorvolles Kochbuch für alle, die Spaß in der Küche haben, tierisch gute Gerichte lieben und sich nicht davor scheuen, beim Zubereiten auch mal den Herd mit einer Giraffe zu teilen. Achtung: Zebras bevorzugen Streifenmuster auf dem Teller!",
                        "createdAt": "2025-02-01T11:12:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new book",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Book"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Book created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "ISBN already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Reset the book list to its initial state",
        "responses": {
          "200": {
            "description": "Book list reset"
          }
        }
      }
    },
    "/books/{isbn}": {
      "get": {
        "summary": "Get a single book by ISBN",
        "parameters": [
          {
            "in": "path",
            "name": "isbn",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Book details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                },
                "examples": {
                  "example-1": {
                    "summary": "An example book",
                    "value": {
                      "isbn": "1234511111111",
                      "title": "Tierisch gut kochen",
                      "subtitle": "Rezepte von Affe bis Zebra",
                      "authors": ["Mrs Chimp", "Mr Gorilla"],
                      "imageUrl": "https://cdn.ng-buch.de/kochen.png",
                      "description": "Immer lecker und gut.\n\nDu dachtest, nur Menschen könnten kochen? Falsch gedacht! In diesem Buch präsentieren wir die wildesten Rezepte direkt aus dem Tierreich – liebevoll gesammelt von den talentiertesten Köchen mit Fell, Federn und Flossen.\n\nErfahre, warum Affen auf Erdnussbutter-Pancakes schwören, wie Pinguine das perfekte Sushi zaubern und warum Giraffen am liebsten Hochstapler-Burger bauen. Von vegetarischen Koalafreuden bis hin zu Löwenstarken Grillrezepten – hier gibt’s für jeden Geschmack etwas!\n\nEin humorvolles Kochbuch für alle, die Spaß in der Küche haben, tierisch gute Gerichte lieben und sich nicht davor scheuen, beim Zubereiten auch mal den Herd mit einer Giraffe zu teilen. Achtung: Zebras bevorzugen Streifenmuster auf dem Teller!",
                      "createdAt": "2025-02-01T11:12:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Book not found"
          }
        }
      },
      "put": {
        "summary": "Update a book by ISBN",
        "parameters": [
          {
            "in": "path",
            "name": "isbn",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Book"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Book updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Book not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a book by ISBN",
        "parameters": [
          {
            "in": "path",
            "name": "isbn",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Book deleted"
          },
          "404": {
            "description": "Book not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Book": {
        "type": "object",
        "properties": {
          "isbn": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "subtitle": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "imageUrl": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
